<html>
<head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
</style>
</head>
<body>

<h1><%= @book.title %></h1>
<h2>By: <%= @book.author %></h2>


<p><b>Genre:</b> <%= @book.genre %><br><br>
<b>Description:</b> <%= @book.description %><br>
</p>
<br>

<h3 style="color: #4863A0"><i>Will this be the next book you take off your "to read" list?</i></h3>

<center>Yes! I finished <%= @book.title %>!<br>
    <form method="POST" action="/books/<%= @book.id %>">
        <input type="hidden" value="DELETE" name="_method"><br>
        <input type="submit" value="Remove">
    </form><br>
</center>

<h3 style="color: #4863A0"><i>More exploration needed.</i></h3>
<center><p><a href="/books/<%= @book.id %>/edit">Edit <%= @book.title %>.</p></center>
<center><p><a href="/books">Back to Bookshelf</p></a></center>

</body>



